<ion-view title="Contacts" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="contacts-form1" class="list">
      <label class="item item-input" id="contacts-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item class="item-avatar" id="contacts-list-item19" ui-sref="henry()">
        <img src="img/OFEE9q7oSKaRNEZTUPfa_download.jpg">
        <h2>Henry</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item20" ui-sref="harvey()">
        <img src="img/HPZAGQmYREOTNYxaLY7U_kang.jpg">
        <h2>Harvey</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item21" ui-sref="rocco()">
        <img src="img/aAjQ80vtSzKqd5mfu6us_comodo.jpg">
        <h2>Rocco</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item22" ui-sref="pig()">
        <img src="img/DGLmPbleQ4uw1cCf6PgQ_pig.jpg">
        <h2>Pig</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item23" ui-sref="eugene()">
        <img src="img/eU7YUPfARu2di0igx67w_snake.jpg">
        <h2>Eugene</h2>
      </ion-item>
      <ion-item class="item-avatar" id="contacts-list-item24" ui-sref="miguel()">
        <img src="img/7YtOBVGyQDuczGpZRkK4_dog.jpg">
        <h2>Miguel</h2>
      </ion-item>
    </form>
  </ion-content>
</ion-view>