<ion-view title="Miguel" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-list id="miguel-list11">
      <ion-item class="item-thumbnail-left" id="miguel-list-item39">
        <img src="img/m5PHvh4XSqw22ZwukFJw_dog.jpg">
        <h2>I</h2>
      </ion-item>
    </ion-list>
    <div id="miguel-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">mobile</p>
    </div>
    <h1 id="miguel-heading6" style="color:#000000;">05647432132897</h1>
  </ion-content>
</ion-view>